@import "../../variables.scss";

#creationUpload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload {
  margin: 3rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  input {
    &:focus {
      outline: none;
    }
  }
  textarea {
    min-height: 250px;
    &:focus {
      outline: none;
    }
  }
}

.upload-error {
  background: $brand-red;
}

.error-text {
  background: $brand-red;
  padding: 1rem;
}

#upload-button {
  @include button-reset();
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: $brand-font-stack;
  padding: 1.2em 2.4em;
  background-color: $primary-color;
  border-radius: 4em;
  color: #fff;
  box-shadow: $box-shadow;
  transition: all $transition-timing;
  border: none;
  vertical-align: center;

  &:hover,
  &:focus {
    color: #fff;
    box-shadow: $box-shadow;
    transform: translateY(-.1rem);
  }

  &--inverted {
    color: $primary-color;
    background-color: #fff;
    &:hover,
    &:focus {
      color: $primary-color;
    }
  }

  &:disabled {
    background-color: #aaa;
    box-shadow: 0 0 10px 2px rgba(#888, .8);
    cursor: not-allowed;
    &:hover {
      box-shadow: 0 0 10px 2px rgba(#888, .8);
    }
  }
  &--small {
    font-size: 15px;
  }

  &--large {
    font-size: 24px;
  }

  &--extra-large {
    font-size: 36px;
  }
  &--flat {
    @include button-reset();
    font-size: 14px;
    text-transform: uppercase;
    padding: .6em;
    min-width: 2em;

    &:hover,
    &:focus {
      border-radius: $material-border-radius;
      background-color: rgba(#999, .26);
    }

    &:disabled {
      color: rgba(#000, .26);
    }
  }

  * + * {
    margin-left: .5em;
  }
}
