@import '../../variables.scss';

.floating-next {
  &__inner {
    @include button-reset();
    font-family: $brand-font-stack;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  &__text {
    margin-right: .5rem;
  }
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 4rem;
  background-color: #fff;
  box-shadow: $box-shadow;
}
