@import '../../variables.scss';

.step-indicator {
  .step-number {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $brand-orange;
    font-family: $brand-font-stack;
    font-weight: 600;
    height: 8rem;
    width: 8rem;
  }
  .step-indicator__body {
    border-left: .8rem $brand-orange solid;
    padding-left: .8rem;
    margin-left: 1.6rem;
    .step-indicator__title {
      font-family: $brand-font-stack;
    }
  }
  .step-indicator__image {
    width: 10rem;
  }
  background-color: $brand-blue;
  padding: 2em 0;
  color: #fff;
}
