.module {
  margin: 7em 0;
}

.room {
  margin-top: 3em;
}

.room .question {
  background-color: #ffa49f;
  border-radius: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.room .question .questionmark {
  font-size: 5em;
}

.room .question button {
  margin-bottom: -3em;
}

.question-text {
  display: flex;
}

.container {
  flex-direction: column;
  display: flex;
  align-items: center;
}
