@import '../variables.scss';

.knutseltips {
  max-width: 700px;
  flex-wrap: wrap;
  margin-top: 2em;
  margin-bottom: 2em;
  .knutseltip {
    color: white;
    position: relative;
    width: 650px;
    height: 450px;
    background-color: $brand-blue;
    border-radius: 15px;
    .tip-name {
      font-size: 1.5em;
    }
    .knutseltip-image {
      border: thick solid $brand-orange;
    }
    .col.tip-information {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .requirements {
      margin-bottom: 2em;
      text-align: left;
      p {
        display: inline-block;
      }
    }
    span {
      background-color: white;
      border-radius: 15px;
      padding: 1em 2em;
      color: $brand-blue;
    }
    ul {
      text-align: left;
    }
    .difficulty {
      margin-top: 2em;
      text-align: center;
      .difficulty-counter {
        border: 3px solid $brand-red--lighter;
        display: inline-block;
        margin-left: 1em;
      }
      .difficulty-counter.filled {
        background-color: $brand-red--lighter;
        border: 3px solid transparent;
      }
    }
  }
}
