@import '../variables.scss';

.module {
  margin: 7em 0;
}

.room {
  margin-top: 3em;
}

.snipper {
  background-color: $brand-blue;
  color: white;
}

.story {
  background-color: $brand-blue;
  color: white;
}

.card.monument {
  background: $brand-blue;
  border-radius: 25px;
  border: 15px solid $brand-blue;
}

.users {
  color: white;
  border-radius: 25px;
  background-color: $brand-blue;
  padding: 2em;
}

.users > div {
  margin: 1em;
}

.users input {
  width: 100%;
  margin: 1em;
  padding: 1em;
}

.users button {
  cursor: pointer;
}

.app {
  padding-top: $nav-bar-height - 3.2rem;
}
