@import '../../variables.scss';

.button {
  font-size: 16px;
  padding: 2em 1em;
  background-color: #000;
  color: #fff;
  box-shadow: 0 2px 6px 0 $brand-blue--light;
  transition: box-shadow .2s;
  &:hover {
    box-shadow: 0 4px 12px $brand-blue--light;
  }
  &--small {
    font-size: 12px;
  }

  &--large {
    font-size: 24px;
  }

  &--extra-large {
    font-size: 36px;
  }
}
