@import '../../variables.scss';

.form-field__input {
  font-family: $brand-font-stack;
  color: black;
  background-color: white;
  font-size: 1rem;
  border-radius: 4rem;
  // box-shadow: 0 0 1rem 0.2rem rgba($primary-color, .8);
  transition: all $transition-timing;
  border: 3px $brand-blue solid;
  width: 25rem;
  height: 3.5rem;

  &::placeholder {
    color: $brand-blue--light;
  }
}

.form-field__descr {
  border-radius: 2rem;
  padding: 1rem 1.5rem;
}
