@import "../../../variables.scss";

.snippers-title {
  font-family: $brand-font-stack;
  color: $brand-blue;
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.snipper {
  border-radius: 3.5rem;
  transition: 0.5s;
  cursor: pointer;
  border: 15px solid $brand-blue;
  &:hover {
    transform: scale(1.04);
  }
  video,
  img {
    border-top-left-radius: 2.7rem;
    border-top-right-radius: 2.7rem;
  }
}
