@import '../../variables.scss';

.fill-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  width: 2em;
  height: 2em;

  &--small {
    width: 1em;
    height: 1em;
  }

  &--large {
    width: 4em;
    height: 4em;
  }

  &-inner {
    animation: rotate 2.5s linear infinite;
    transform-origin: center center;
    height: 100%;
    width: 100%;

    &-path {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      stroke: $brand-blue--light;
      -webkit-animation: dash 1.5s ease-in-out infinite;
      animation: dash 1.5s ease-in-out infinite;
      stroke-linecap: round;
    }
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 110, 200;
    stroke-dashoffset: -30px;
  }
  100% {
    stroke-dasharray: 110, 200;
    stroke-dashoffset: -124px;
  }
}
