@import '../../variables.scss';

.card-container {
  border: none;
  background-color: $brand-blue;
  margin-bottom: 2rem;
  margin-top: 5rem;

  padding: 0.75rem 0.75rem 0rem 0.75rem;
  border-radius: 2.5rem;
  transition: 0.5s;
  &:hover {
    transform: scale(1.04);
    box-shadow: 0 0 1rem 0.2rem rgba($brand-blue, .8);
  }
}

.card-img {
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2rem;
}

.card-title {
  color: white;
  font-family: $font-stack;
  font-size: 2rem;
}

.card-text {
  font-family: $font-stack;
  color: white;
  font-size: 1.3rem;
}

.button {
  text-align: center;
}

.button-test {
  display: flex;
  border: 1px solid black;
}
