@import '../../../variables.scss';

.page {
  background-image: url('./assets/bg.svg');
  background-repeat: no-repeat;
}
.story.card {
  cursor: pointer !important;
  transition: 0.5s;
  svg {
    fill: white;
    margin-right: 10px;
  }
  &:hover {
    transform: scale(1.04);
    box-shadow: 0 0 1rem 0.2rem rgba($brand-blue--light, .8);
  }
}

.random-stories {
  margin: 3rem 0;
  justify-content: center;
}

.story-title {
  color: white;
  font-family: $brand-font-stack;
  font-size: 2.8rem;
  text-align: center;
  width: 50rem;
  margin: 0 auto;
}

.input-group {
  width: 26rem;
  height: 3.6rem;
}

.form-control {
  border-bottom-left-radius: 10rem;
  border-top-left-radius: 10rem;
  border-right: none;
  font-family: $brand-font-stack;
  color: $brand-blue;
  height: 100%;
}

.input-group-addon {
  border-bottom-right-radius: 10rem;
  border-top-right-radius: 10rem;
  border-left: none;
  background-color: white;
}
