@import "../../../variables.scss";

.story-information {
  background: $brand-blue;
  color: white;
  padding: 1em;
  border-radius: 25px;
  img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .card-block {
    .personName-label {
      font-size: 2rem;
    }
  }
}

.test {
  border: 1px solid red;
}

.modules .module:nth-child(2n + 1) {
  background-color: $brand-blue;
}

.room {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.module {
  width: 100%;
  padding: 5rem 0rem;
}
