@import '../../../variables.scss';
/*NAVIGATIE*/

.navbar {
  box-shadow: 0 0 10px 4px $brand-blue;
}

/*HEADER*/

.page {
  background: none !important;
}

.button-section {
  &--white {
    background-color: #fff;
  }
  padding: 2em 2em 4em 2em;
  background-color: $brand-blue;
  display: flex;
  justify-content: center;
}

.header-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-image: url('./assets/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__video {
  position: absolute;
  opacity: 0;
  top: 0;
  height: calc(100vw * 0.5625);
  width: 100%;
}
.home {
  position: relative;
}

#vimeo-video {
  width: 100%;
  height: 100%;
}

.logo {
  width: 20rem;
  &__wrapper {
    position: relative;
    margin-bottom: 2rem;
  }
}

.button--play {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 8rem;
  transition: all $transition-timing;
  &:hover {
    transform: scale(1.05);
  }
}

.button--close {
  cursor: pointer;
  z-index: 101;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.header-title {
  font-family: $brand-font-stack;
  color: $brand-blue;
  font-size: 3rem;
  font-weight: 700;
}

.header-paraf {
  font-size: 1.8rem;
  width: 38rem;
  text-align: center;
  font-family: $font-stack;
  font-weight: 500;
  line-height: 2.6rem;
  margin-top: 2rem;
}

.pink {
  color: $brand-red--light;
}

.orange {
  color: $brand-orange;
}

/*HOW TO SECTION*/

.how-to-container {
  background-color: $brand-blue;
  display: flex;
  justify-content: center;
}

.how-to-2-container {
  margin: 4rem 0;
}

.ht-mini-container {
  display: flex;
  align-items: center;
}

.ht-mini-2-container {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
}

.ht-1-img {
  width: 10rem;
}

.ht-2-img {
  width: 10rem;
}

.ht-3-img {
  width: 10rem;
}

.ht-4-img {
  width: 10rem;
}

.ht-title {
  color: white;
  margin-bottom: .5rem;
  font-size: 2.4rem;
  font-weight: 600;
}

.ht-paraf {
  color: white;
  font-size: 1.2rem;
  max-width: 22rem;
}

.ht-1-border {
  border-left: 1rem solid $brand-red--light;
  padding-left: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 3rem;
}

.ht-2-border {
  border-right: 1rem solid $brand-yellow;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: right;
  padding-right: 1.8rem;
  margin-right: 3rem;
}

.ht-3-border {
  border-left: 1rem solid $brand-red--lighter;
  padding-left: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 3rem;
}

.ht-4-border {
  border-right: 1rem solid $brand-orange;
  padding-left: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: right;
  padding-right: 1.8rem;
  margin-right: 3rem;
}

/*CREATIONS*/

.creations-container {
  margin-bottom: 2rem;
  scroll-behavior: smooth;
}

.creation-title {
  font-family: $brand-font-stack;
  color: $brand-blue;
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.creations-1 {
  display: flex;
  justify-content: center;
}

.creations-2 {
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;
  align-items: baseline;
  margin-top: -30rem;
}

.creations-position {
  display: flex;
  justify-content: space-around;
  margin-left: 0rem;
  margin-right: 0rem;
}

/*DIRTY SHIT, NEEDS TO DELETED*/

.module-text {
  font-family: $brand-font-stack;
  font-size: 1.5rem;
}

.fade-out {
  animation: fade-out $transition-timing--long ease-in-out forwards;
}

.fade-in {
  animation: fade-in $transition-timing--long ease-in-out forwards;
}

.creation-description {
  font-family: $brand-font-stack;
  font-size: 24px;
  color: $brand-blue;
  padding: 2rem 4rem;
  text-align: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
