@import '../../../variables.scss';

.nav-container {
  height: $nav-bar-height;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px 2px rgba($brand-blue, .8);
  position: fixed;
  background-color: white;
  width: 100%;
}

.header-container {
  height: 100vh;
  background-size: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-image: url('./assets/bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.logo {
  width: 36rem;
}

.header-title {
  font-family: $brand-font-stack;
  color: $brand-blue;
  font-size: 4rem;
  font-weight: 700;
}

.header-paraf {
  font-size: 1.8rem;
  width: 38rem;
  text-align: center;
  font-family: $font-stack;
  font-weight: 500;
  line-height: 2.6rem;
  margin-top: 2rem;
}

.how-to-container {
  margin-top: 7rem;
  background-color: $brand-blue;
}

.ht-mini-container {
  display: flex;
  align-items: center;
}

.ht-1-img {
  width: 18rem;
}

.ht-title {
  color: white;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.ht-paraf {
  color: white;
  font-size: 2rem;
  width: 40rem;
  line-height: 2.6rem;
}

.ht-1-border {
  border-left: 1rem solid $brand-red--light;
  padding-left: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 12rem;
  margin-left: 3rem;
}
