@import "../../../variables.scss";

.knutseltips {
  overflow: hidden;
  .card.knutseltip {
    .card-title {
      font-size: 2rem;
      padding: 0;
      margin: 0;
    }

    h3 {
      font-size: 1.25rem;
    }
    cursor: pointer;
    user-select: none;
    height: 400px;
    border-radius: 2.5rem;
    border: 1rem solid $brand-blue;
    background-color: $brand-blue;
    color: white;
    img {
      border-top-left-radius: 1.8rem;
      border-top-right-radius: 1.8rem;
    }
    transition: 0.5s;
    &:hover {
      transform: scale(1.04);
      box-shadow: 0 0 1rem 0.2rem rgba($brand-blue--light, .8);
    }
  }
  .hidden {
    height: 0;
    opacity: 0;
  }

  .difficulty {
    .difficulty-counter {
      border: 3px solid $brand-red--lighter;
      display: inline-block;
    }
    .difficulty-counter + .difficulty-counter {
      margin-left: 1rem;
    }
    .difficulty-counter.filled {
      background-color: $brand-red--lighter;
      border: 3px solid transparent;
    }
  }
}

.tip-difficulty-card {
  margin-bottom: 2rem;
}
