@import "../../../variables.scss";

.page {
  margin: 3rem;
}

.knutseltips {
  .card.knutseltip {
    height: 400px;
    border-radius: 2.5rem;
    border: 1rem solid $brand-blue;
    img {
      border-top-left-radius: 2.5rem;
      border-top-right-radius: 2.5rem;
    }
  }
  .hidden {
    height: 0;
    opacity: 0;
  }
}
